repos:
  - repo: https://github.com/psf/black
    rev: 24.4.2
    hooks:
      - id: black

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.4.4
    hooks:
      - id: ruff

  - repo: local
    hooks:
      - id: forbid-np-plt
        name: forbid np and plt
        entry: bash -c 'if grep -R "np\." gwforge || grep -R "plt\." gwforge; then echo "Use numpy and pylab"; exit 1; fi'
        language: system