numpy>=1.16.0,!=1.19.0
pandas>=2.1.4
astropy>=6.0.0
bilby>=2.2.0
pycbc>=2.8.3
gwpopulation>=1.2.0
htcondor>=23.0.0
seaborn>=0.13.0
gwpy>=3.0.7
rich>=13.7.0
sympy>=1.12
sphinx>=4.2.0
myst-parser>=2.0.0
furo>=2023.9.10
sphinx-math-dollar
sphinx-autoapi>=3.0.0